@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* || RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* || VARIABLES */
:root {
    /* || COLORS */
    --BG-HD-BTCOLOR: hsl(0, 0%, 95%);
    --PARAGRAPH-COLOR: hsla(0, 0%, 100%, 0.75);
    --COLUMN-COLOR1: hsl(31, 77%, 52%);
    --COLUMN-COLOR2: hsl(184, 100%, 22%);
    --COLUMN-COLOR3: hsl(179, 100%, 13%);
    --FONT-FAM1: 'Big Shoulders Display', cursive;
    --FONT-FAM2: 'Lexend Deca', sans-serif;
}

/* || GENERAL STYLES */
body {
    padding: 20px;
    font-size: 15px;
    font-family: var(--FONT-FAM2);
    background-color: var(--BG-HD-BTCOLOR);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container  {
    display: grid;
    grid-template-columns: minmax(14rem, 14.5rem);
    grid-template-rows: repeat(3, 17.5rem); 
}

.container h2 {
    font-weight: 700;
    font-family: var(--FONT-FAM1);
    letter-spacing: 0.025em;
    text-transform: uppercase;
    color: #fff;
}

.container p {
    letter-spacing: 0.045em;
    font-weight: 400;
    font-size: 0.7rem;
    color:var(--PARAGRAPH-COLOR);
    line-height: 1rem;
}

.column1 {
    background-color: var(--COLUMN-COLOR1);
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.3rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.column1 button {
    color: var(--COLUMN-COLOR1);
}

.column2 {
    background-color: var(--COLUMN-COLOR2);
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.3rem;
}

.column2 button {
    color: var(--COLUMN-COLOR2);
}

.column3 {
    background-color: var(--COLUMN-COLOR3);
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.3rem;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.column3 button {
    color: var(--COLUMN-COLOR3);
}

button {
    text-transform: capitalize;
    letter-spacing: 0.075em;
    font-weight: 400;
    font-size: 0.6rem;
    padding: 0.5rem;
    border-radius: 15px;
    width: 55%;
    border: none;
}

button:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid white;
}

footer {
    margin: 20px;
    text-align: center;
}

@media  screen and (min-width:768px) {
    .container {
        grid-template-columns: repeat(3,minmax(14rem, 14.5rem));
        grid-template-rows: 1fr;
    }

    .column1 {
        border-top-right-radius: unset;
        border-bottom-left-radius: 4px;
    }

    .column3 {
        border-bottom-left-radius: unset;
        border-top-right-radius: 4px;
    }

    button {
        margin-top: 2rem;
    }
}
